.circle {
    clip-path: circle();
    background-color: var(--light-blue);
    position: fixed;
    z-index: -1;
}

.circle.top {
    width: max(20rem, 50vw);
    height: max(20rem, 50vw);
    right: -25vw;
    top: -10vh;
}

.circle.bottom {
    width: max(40rem, 80vw);
    height: max(40rem, 80vw);
    bottom: -30vh;
    left: -40vw;
}

@media screen and (min-width: 1024px) {
    .bg {
        grid-area: 2 / 1 / 3 / 2;
        background: url("../img/home-bg-img.svg") no-repeat top/contain;
        background-position-x: -10rem;
        width: 100%;
        height: 100%;
    }

    .circle.top {
        width: 63.3rem;
        height: 63.3rem;
        top: -70vh;
        right: -120vw;
        width: 220vw;
    }
    
    .circle.bottom {
        width: 20rem;
        height: 20rem;
        top: 95vh;
        left: 80vw;
    }
}