<html>
    <head>
        <link rel="icon" href="/img/favicon.svg">
        <title> Senha incorreta </title>
        <script>
            confirm("Senha incorreta")
            window.location.replace("/room/<%= roomId %>")
        </script>
    </head>
</html>