.btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: min(3.5rem, 3vw);
    padding-right: min(3.5rem, 3vw);
}

.btns .btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    height: 5rem;
    width: min(183px, 18rem);
}

#room .create-room__btn {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    padding-left: 3rem;
}

#room .room-pass__btn {
    margin: 0;
    /* width: 18rem; */
    padding: 1.3rem 3.2rem;
}

#room .btns span::before {
    content: "#";
}

#room .create-room__btn--textarea {
    background-color: var(--white);
    overflow: hidden;
    padding: 0;
    width: 6rem;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    color: var(--blue);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.6rem;
}

#room .create-room__btn--textarea:hover,
#room .create-room__btn--textarea:active,
#room .create-room__btn--textarea:focus,
#room .create-room__btn--textarea:visited {
    outline: none;
}

#room .create-room__btn--icon {
    margin-left: 1rem;
}

#room .room-pass__btn--icon {
    margin-right: 1rem;
}

@media screen and (min-width: 600px) {
    .btns {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #room .create-room__btn {
        padding: 0;
        margin: 0;
    }
}

@media screen and (min-width: 600px) {
    .btns {
        justify-content: flex-end;
    }

    #room .create-room__btn {
        margin-right: .8rem;
    }

}

@media screen and (min-width: 1024px) {
    .btns {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 44px;
        padding: 0;
    }

    #room .create-room__btn {
        margin-right: .8rem;
        width: auto;
        padding: 1.3rem 1.6rem 1.3rem 2.6rem;
        margin-bottom: 0;
    }

    #room .create-room__btn--icon {
        margin-left: 1rem;
    }

    #room .room-pass__btn {
        margin: 0;
        width: 18rem;
        padding: 1.3rem 3.2rem;
    }
    
}