<div class="no-question">
    <img src="/img/no-question.svg" alt="Sem perguntas" class="no-question__img">
    <p class="no-question__title">Nenhuma pergunta por aqui...</p>
    <p class="no-question__description">Faça sua primeira pergunta e envie o código dessa sala para outras pessoas</p>
</div>