.create-room>.btn{
    padding: 0;
}

.create-room__btn {
    height: 5rem;
    width: 100%;
    border-radius: .8rem;
    margin: 0;

    background-color: var(--white);
    border: .2px solid var(--blue);
    color: var(--blue);

    display: flex;
    align-items: center;
    justify-content: center;
}